.description {
	min-height: 425px;
	color: #000;
	&__title {
		display: flex;
		justify-content: center;
		& h2 {
			position: relative;
			margin-top: 30px;
			margin-bottom: 25px;
			font-size: 24px;
			line-height: 28px;
			font-weight: 300;
			letter-spacing: 0.05em;
			color: #037693;
		&::after {		
			position: absolute;
			content: '';
			width: 42px;
			bottom: -4px;
			right: 1px;
			height: 2px;
			background: url('../img/rectangle-blue.png') 0 0 no-repeat;
			transform: rotate(180deg);
			background-size: cover;
			}
		}	
	}
	&__subtitle {
		display: none;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding-left: 0;
		margin: 6px auto;
		width: 85%;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		&-img {
			width: 35px;
			height: 45px;
		}
		&-number {
			margin-top: 8px;	
			margin-bottom: 10px;
			font-size: 23px;
			line-height: 25px;
			font-weight: 600;
		}
		&-p {
			font-size: 13px;
			line-height: 14px;
		}
		&::after {
			position: absolute;
			content: '';
			width: 86%;
			height: 2px;
			left: 7%;
			bottom: -18px;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		& h3 {
			margin-top: 48px;
			margin-bottom: 0;
			font-size: 22px;
			line-height: 25px;
			font-weight: 600;
			color: #037693;
		}
		& h4 {
			position: relative;
			margin-top: 10px;
			margin-bottom: 22px;
			font-size: 14px;
			line-height: 16px;
			font-weight: 400;
			color: #037693;
			&::after {
				position: absolute;
				content:'';
				width: 70px;
				height: 1px;
				bottom: -8px;
				left: 50%;
				margin-left: -35px;
				background-color: #037693;
			}
		}
		& p {
			width: 85%;
			margin: 0;
			text-align: center;
			font-size: 9px;
			line-height: 12px;
		}
	}
}

.item__people {
	& .description__item-number {
		color: #50a79c;
	}
	&::after {
		background-color: #50a79c;
	}
}
.item__hours {
	& .description__item-number {
		color: #f26250;
	}
	&::after {
		background-color: #f26250;
	}
}
.item__events {
	& .description__item-number {
		color: #f0a765;
	}
	&::after {
		background-color: #f0a765;
	}
}


@media (min-width: #{$tablet-width}) {
	.description {
		min-height: 876px;
		&__title h2 {
			margin-top: 65px;
			margin-bottom: 85px;
			font-size: 30px;
			line-height: 32px;
		}
		&__item {
			&-img {
				width: 75px;
				height: 75px;
			}
			&-number {
				margin-top: 25px;
				margin-bottom: 25px;
				font-size: 52px;
				line-height: 58px;
				font-weight: 400;
			}
			&-p {
				font-size: 24px;
				line-height: 26px;
			}
			&::after {
				bottom: -28px;
				height: 3px;
				width: 84%;
				left: 8%;
			}
		}
		&__text {
			& h3 {
				margin-top: 103px;
				margin-bottom: 15px;
				font-size: 50px;
				line-height: 52px;
			}
			& h4 {
				margin-bottom: 70px;
				font-size: 24px;
				letter-spacing: 0.08em;
				&::after {
					width: 152px;
					margin-left: -76px;
					bottom: -16px;
				}
			}
			& p {
				width: 80%;
				font-size: 19px;
				font-weight: 300;
				line-height: 22px;
			}
		}
	}
}


@media (min-width: #{$desktop-width}) {
 .description {
 	min-height: 450px;
 	&__title h2 {
			margin-top: 65px;
			margin-bottom: 45px;
			font-size: 42px;
			line-height: 44px;
			&::after {
				width: 65px;
				height: 3px;
				bottom: -6px;
			}
		}
		&__wrapper {
			position: relative;
		}
		&__subtitle {
			display: block;
			position: absolute;
			top: 82px;
			left: -70px;
			padding: 9px 16px 11px 97px;
			border-top: 1px solid #037693;
			border-bottom: 1px solid #037693;
			border-left: 1px solid #037693;
			font-size: 20px;
			letter-spacing: 0.16em;
			line-height: 20px;
			color: #037693;	
			transform: rotate(-90deg);
			& p {
				margin: 0;
			}
			&::before {
				position: absolute;
				content: '';
				width: 12px;
				height: 12px;
				top: 14px;
				left: 12px;
				border-radius: 50%;
				background-color: #037693;
			}
			&::after {
				position: absolute;
				content: '';
				width: 75px;
				height: 1px;
				top: 20px;
				left: 18px;
				background-color: #037693;
			}
		}
		&__content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__list {
			margin-top: 25px;
			width: 40%;
			order: 2;
		}
		&__item {
			width: 30%;
			&-img {
				width: 46px;
				height: 46px;
			}
			&-number {
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 35px;
				line-height: 37px;
			}
			&-p {
				font-size: 16px;
				line-height: 18px;
			}
			&::after {
				bottom: -16px;
			}
		}
		&__text {
			align-items: flex-start;
			padding-left: 90px;
			width: 48%;
			order: 1;
			& h3 {
				margin-top: 10px;
				margin-bottom: 0;
				font-size: 40px;
				line-height: 42px;
			}
			& h4 {
				margin-top: 4px;
				margin-bottom: 26px;
				padding-left: 6px;
				font-size: 20px;
				line-height: 22px;
				&::after {
					width: 130px;
					margin-left: 130px;
					bottom: 0;
				}
			}
			& p {
				padding-bottom: 14px;
				width: 90%;
				text-align: left;
				font-size: 14px;
				line-height: 20px;
			}
		}
  }

}


