body {
  min-width: 375px;
  margin: 0;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 33px;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 345px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 0 0;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1020px) {
  .container {
    width: 980px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  background-color: #000;
  width: 100%;
  min-height: 96px;
  margin: 0 auto;
  z-index: 0;
}

.page-header__logo {
  display: block;
  height: 84px;
  text-align: center;
  padding-top: 11px;
}

.page-header__logo img {
  height: 67px;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-nav__wrapper {
  display: none;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  cursor: pointer;
  outline: none;
  top: 35px;
  right: 36px;
  width: 28px;
  height: 28px;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

.main-nav__toggle span,
.main-nav__toggle span:before,
.main-nav__toggle span:after {
  display: block;
  height: 1px;
  width: 14px;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -1px;
  background-color: #fff;
}

.main-nav__toggle span:before {
  transition: all 0.5s;
  content: '';
  margin-top: -5px;
}

.main-nav__toggle span:after {
  transition: all 0.5s;
  content: '';
  margin-top: 4px;
}

.main-nav__toggle--active span {
  background-color: transparent;
}

.main-nav__toggle--active span:before {
  transform: rotate(45deg);
  margin-top: 0;
}

.main-nav__toggle--active span:after {
  transform: rotate(-45deg);
  margin-top: 0;
}

.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  font-weight: 300;
}

.site-list__item {
  padding-left: 20px;
  border-top: 1px solid transparent;
}

.site-list__item:hover {
  transition: all 0.4s;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #fff;
}

.site-list__item a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
}

.user-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  font-weight: 300;
}

.user-list__item {
  padding-left: 10px;
  border-top: 1px solid transparent;
}

.user-list__item:hover {
  transition: all 0.4s;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #fff;
}

.user-list__item a {
  display: block;
  padding-left: 40px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.user-list__item span {
  position: absolute;
  display: block;
  left: 8px;
  top: 8px;
}

.user-list__login {
  width: 16px;
  height: 16px;
  background: url("../img/icons/sign-in.png") center no-repeat;
  background-size: cover;
}

.user-list__register {
  width: 16px;
  height: 18px;
  background: url("../img/icons/avatar.png") center no-repeat;
  background-size: cover;
}

.header-bottom {
  min-height: 228px;
  background: #037693 url("../img/header/header-bg-overlay.jpg") center no-repeat;
  background-size: cover;
}

.header-bottom__img {
  display: none;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

.header-title h1 {
  position: relative;
  align-self: center;
  margin: 0;
  margin-bottom: 6px;
  font-size: 24px;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.9);
}

.header-title h1:after {
  position: absolute;
  content: '';
  width: 104px;
  bottom: -3px;
  right: 0;
  height: 3px;
  background: url("../img/header/rectangle.png") 0 0 no-repeat;
  background-size: cover;
}

.header-title h2 {
  margin: 0;
  margin-bottom: 20px;
  align-self: flex-start;
  padding-left: 30px;
  font-size: 14px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.header-button {
  margin-left: -4px;
  padding: 6px 6px;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 600;
  color: #037693;
}

.header-button__o {
  padding: 6px 10px;
  background-color: transparent;
  font-size: 12px;
  color: #fff;
}

@media (min-width: 768px) {
  .page-header {
    min-height: 68px;
    padding-bottom: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header__logo {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-list {
    margin: 0;
    flex-direction: row;
    font-size: 14px;
  }

  .site-list__item {
    margin: 0 10px;
    padding: 16px 5px;
  }

  .site-list__item:hover {
    font-weight: 300;
    padding: 14px 5px 18px 5px;
  }

  .user-list {
    margin: 0;
    flex-direction: row;
    font-size: 10px;
  }

  .user-list__item {
    margin: 0 5px;
    padding: 0 10px;
  }

  .user-list__item:hover {
    font-weight: 300;
  }

  .user-list__item a {
    padding: 24px 5px 8px 5px;
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
  }

  .user-list__item span {
    position: absolute;
    display: block;
    left: 29%;
    top: 14px;
  }

  .header-title,
  .header-buttons {
    width: 65%;
  }

  .header-bottom {
    position: relative;
    min-height: 408px;
    z-index: 1;
  }

  .header-bottom-container {
    position: relative;
  }

  .header-bottom__img {
    display: block;
    position: absolute;
    width: 220px;
    height: 400px;
    bottom: -96px;
    right: 22px;
  }

  .header-title {
    margin-top: 115px;
  }

  .header-title h1 {
    font-size: 28px;
  }

  .header-title h1:after {
    bottom: -6px;
    width: 140px;
  }

  .header-title h2 {
    margin-top: 12px;
    margin-bottom: 70px;
    padding-left: 90px;
    font-size: 18px;
    font-weight: 400;
  }

  .header-buttons {
    justify-content: center;
    margin: 0;
    margin-bottom: 100px;
  }

  .header-button__group {
    margin-left: 25px;
  }
}

@media (min-width: 1020px) {
  .page-header {
    min-height: 104px;
  }

  .page-header__logo {
    display: flex;
    padding: 0;
    vertical-align: middle;
    height: 88px;
    width: 75px;
  }

  .page-header__logo img {
    width: 100%;
    height: 100%;
  }

  .main-nav {
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 30px;
  }

  .main-nav__wrapper {
    justify-content: space-between;
  }

  .site-list {
    font-size: 18px;
    align-items: center;
  }

  .site-list__item a {
    margin: auto;
  }

  .user-list {
    align-items: center;
  }

  .user-list__item a {
    margin: auto;
  }

  .header-title {
    margin-top: 185px;
  }

  .header-title h1 {
    font-size: 42px;
  }

  .header-title h1:after {
    bottom: -14px;
    width: 180px;
    height: 4px;
  }

  .header-title h2 {
    margin-top: 32px;
    margin-bottom: 125px;
    padding-left: 110px;
    font-size: 22px;
    font-weight: 400;
  }

  .header-bottom {
    min-height: 630px;
  }

  .header-bottom__img {
    width: 340px;
    height: 610px;
    bottom: -140px;
    right: 0px;
  }

  .header-buttons {
    margin-bottom: 170px;
  }

  .header-button {
    position: relative;
    padding: 11px 15px;
    font-size: 16px;
    font-weight: 400;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 20;
  color: #037693;
  min-height: 343px;
}

.about-title {
  display: flex;
  justify-content: center;
}

.about-title h2 {
  position: relative;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.about-title h2::after {
  position: absolute;
  content: '';
  width: 44px;
  bottom: -6px;
  left: 2px;
  height: 2px;
  background: url("../img/about/rectangle.png") 0 0 no-repeat;
  background-size: cover;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 5px;
  width: 90%;
  padding-left: 0;
}

.about-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  width: 40%;
}

.about-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  border: 1px solid #037693;
  border-radius: 1px;
}

.about-list__img img {
  height: 30px;
}

.about-list__content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.about-list__content p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: 768px) {
  .about {
    min-height: 190px;
  }

  .about-list {
    width: 98%;
    margin-bottom: 10px;
  }

  .about-list__item {
    width: 22%;
  }

  .about-list__img {
    width: 58px;
    height: 58px;
  }

  .about-list__img img {
    height: 34px;
  }

  .about-list__content p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 1020px) {
  .about {
    min-height: 434px;
  }

  .about-title h2 {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 300;
  }

  .about-title h2::after {
    position: absolute;
    content: '';
    width: 65px;
    bottom: -14px;
    left: 2px;
    height: 3px;
    background: url("../img/about/rectangle.png") 0 0 no-repeat;
    background-size: cover;
  }

  .about-list {
    width: 98%;
    margin-bottom: 10px;
  }

  .about-list__item {
    width: 22%;
  }

  .about-list__img {
    width: 80px;
    height: 80px;
  }

  .about-list__img img {
    height: 46px;
  }

  .about-list__content p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}

.interact {
  min-height: 212px;
  background-color: #037693;
}

.interact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.interact__subtitle {
  display: none;
}

.interact__content {
  order: 2;
}

.interact__list {
  order: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.interact__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.interact__item img {
  width: 65px;
  height: 65px;
}

.interact__item p {
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: 2px;
  width: 40px;
  font-size: 5px;
  font-weight: 600;
  line-height: 7px;
  color: rgba(0, 0, 0, 0.8);
}

.interact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  margin-bottom: 8px;
}

.interact__content h2 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}

.interact__content h2 br {
  display: none;
}

.interact__content h3 {
  position: relative;
  margin-top: 2px;
  margin-bottom: 12px;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
}

.interact__content h3:after {
  position: absolute;
  content: '';
  left: 50%;
  margin-left: -28px;
  bottom: -2px;
  width: 56px;
  height: 1px;
  background-color: #fff;
}

.interact__content p {
  margin: 0;
  text-align: center;
  font-size: 7px;
  line-height: 9px;
}

@media (min-width: 768px) {
  .interact {
    min-height: 438px;
  }

  .interact__wrapper {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6px;
  }

  .interact__list {
    order: 2;
    flex-direction: column-reverse;
  }

  .interact__item {
    width: 140px;
    height: 140px;
  }

  .interact__item img {
    width: 126px;
    height: 126px;
  }

  .interact__item p {
    width: 75px;
    margin-left: -38px;
    margin-top: -3px;
    font-size: 11px;
    line-height: 13px;
  }

  .interact__content {
    margin-top: 64px;
    margin-bottom: 45px;
    padding-left: 45px;
    order: 1;
    width: 68%;
    color: rgba(255, 255, 255, 0.9);
  }

  .interact__content h2 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
  }

  .interact__content h3 {
    margin-bottom: 46px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
  }

  .interact__content h3::after {
    width: 140px;
    height: 2px;
    margin-left: -70px;
    bottom: -8px;
    border-radius: 1px;
  }

  .interact__content p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}

@media (min-width: 1020px) {
  .interact {
    min-height: 500px;
  }

  .interact__wrapper {
    position: relative;
    justify-content: center;
  }

  .interact__subtitle {
    display: block;
    position: absolute;
    top: 80px;
    left: -70px;
    padding: 11px 16px 11px 77px;
    border: 1px solid #fff;
    font-size: 20px;
    letter-spacing: 0.16em;
    line-height: 20px;
    transform: rotate(-90deg);
  }

  .interact__subtitle p {
    margin: 0;
  }

  .interact__subtitle::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: 16px;
    left: 12px;
    border-radius: 50%;
    background-color: #fff;
  }

  .interact__subtitle::after {
    position: absolute;
    content: '';
    width: 55px;
    height: 1px;
    top: 22px;
    left: 18px;
    background-color: #fff;
  }

  .interact__content {
    align-items: flex-start;
    margin-top: 26px;
    margin-bottom: 26px;
    width: 54%;
    color: #fff;
  }

  .interact__content h2 {
    margin-bottom: 14px;
    width: 250px;
    font-size: 42px;
    line-height: 48px;
  }

  .interact__content h2 br {
    display: block;
  }

  .interact__content h3 {
    margin-bottom: 36px;
    font-size: 21px;
    line-height: 24px;
  }

  .interact__content h3::after {
    margin-left: 0;
    left: 180px;
    bottom: 5px;
    width: 160px;
    height: 1px;
  }

  .interact__content p {
    text-align: left;
    padding: 6px 0;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.9);
  }

  .interact__list {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  .interact__item {
    width: 200px;
    height: 206px;
  }

  .interact__item img {
    width: 200px;
    height: 200px;
  }

  .interact__item p {
    width: 115px;
    margin-left: -58px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
  }

  .interact__item--search {
    position: absolute;
    top: 103px;
    right: -70px;
  }
}